<div class="card">
    <div class="header">
        <div class="type">
            <div class="text-icon {{type}}">{{ typeDescription }}</div>
            {{#each properties}}
            <div class="text-icon {{this}}"></div>
            {{/each}}
        </div>
        <div class="icon-list">
            <div class="text-icon action"></div>
        </div>
    </div>
    <div class="title">{{title}}</div>
    <div class="description">
        {{description}}
        {{#includes properties "versatile"}}can we weilded with one hand, or with two for increased damage. {{/includes}}
        {{#includes properties "heavy"}}small or tiny creatures will struggle to weild it. {{/includes}}
    </div>
    <div class="section fill">
        {{#*inline "activity"}}
        
        <div class="section">
            <div class="name text-icon {{this.type}}">{{this.name}}</div>
            <div class="description">{{~#if description}}{{description}}<br/>{{/if}}
                {{~#includes properties "finesse"}}choose str or dex to use for both the attack and damage roll. {{/includes}}
                {{~#includes properties "heavy"}}{{#eq this.type 'attack'}}small or tiny creatures have disadvantage. {{/eq}}{{/includes}}
                {{~#includes properties "thrown"}}can also be thrown. {{/includes}}
                {{~#if range}}range {{range.short}}/{{range.long}}{{/if}}</div>
            {{#each rolls}}
            <div class="roll" data-roll-type="{{this.type}}">
                {{#each parts}}
                {{#if this.flat}}{{this.flat}}{{/if}}
                {{#if this.die}}<div class="die" data-die="d{{this.die}}"></div>{{/if}}
                {{#if this.mod}}<div class="mod" data-mod="{{this.mod}}"></div>{{/if}}
                {{#if this.icon}}<div class="text-icon {{this.icon}}">{{this.icon}}</div>{{/if}}
                {{/each}}
            </div>
            {{/each}}
        </div>
            
        {{/inline}}
        {{#if actions}}
        <div class="activity-group">
            <div class="group-header separator">
                <div class="group-name heading text-icon action">Actions</div>
            </div>
            {{#each actions}}
            {{> activity this properties=../properties}}
            {{/each}}
        </div>
        {{/if}}
        {{#if bonusActions}}
        <div class="activity-group">
            <div class="group-header separator">
                <div class="group-name heading text-icon bonus">Bonus Actions</div>
            </div>
            {{#each bonusActions}}
            {{> activity this}}
            {{/each}}
        </div>
        {{/if}}
        {{#if reactions}}
        <div class="activity-group">
            <div class="group-header separator">
                <div class="group-name heading text-icon reaction">Reactions</div>
            </div>
            {{#each reactions}}
            {{> activity this}}
            {{/each}}
        </div>
        {{/if}}
    </div>
    <div class="notes">
        {{#each properties}}
        <div class="text-icon {{this}}">{{this}}</div>
        {{/each}}
    </div>
    <div class="footer">
        <div class="text-icon gold">{{cost}}</div>
        <div class="text-icon weight">{{weight}}</div>
    </div>
</div>